@font-face {
    font-family: "Uni Sans Heavy";
    src: url("/font/Uni Sans Heavy.otf") format("opentype")
}

@font-face {
    font-family: "Uni Sans Thin";
    src: url("/font/Uni Sans Thin.otf") format("opentype")
}

.header, .toolbox, .arrow-box, .main, .footer, .types, .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.header, .arrow-box {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#label-upload {
    display: block;
}

.nav-header, .rotate, .drop-down-link, #file-info, #email, .nav-drop, .github, .type-px, .bold {
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;
}

.nav-header, .nav-icon, #file-info, #email, .nav-drop, .github, .type-px {
    cursor: pointer;
}

.nav-icon, .github {
    fill: #ECF0F1;
}

.nav-icon {
    margin: 5px 16px;
    -webkit-filter: drop-shadow(0 2px 1px rgba(0,0,0,0.8));
    filter: drop-shadow(0 2px 1px rgba(0,0,0,0.8));
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 25px;
    z-index: 10
}

span, .footer, #percent {
    font-family: "Uni Sans Thin", "DejaVu Sans", monospace;
}

.arrow-box, .main, .info, .drop-down-link, .flowspinner, .flowspinner:after, .notification, .popup-footer, .optimize-info, .download-info, .github {
    position: absolute;
}

.arrow-box {
    width: 200px;
    left: calc(50% - 100px);
    -webkit-transition: bottom .2s, opacity .2s;
    transition: bottom .2s, opacity .2s;
    bottom: 8px;
}

.github {
    left: calc(50% - 19px);
    bottom: 5px;
}

.click-info, .file-input, .notification {
    display: none
}

.main {
    top: 70px;
    left: 25px;
    right: 25px;
    bottom: 70px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0
}

body {
    background-color: #34495E;
    font-family: "Uni Sans Heavy", "DejaVu Sans", monospace;
    color: #ECF0F1;
}

.nav-header {
    margin: 18px 16px 16px;
}

.rotate {
    fill: none;
    stroke: #ECF0F1;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.footer {
    padding: 15px 25px 10px 25px;
    -webkit-transition: bottom .2s, background-color .2s;
    transition: bottom .2s, background-color .2s;
}

.info {
    -webkit-transition: bottom .2s;
    transition: bottom .2s;
}

.drop-down-link {
    visibility: hidden;
    opacity: 0;
    top: 55px;
    right: 25px;
    width: 70px;
    border-radius: 5px;
}

/* --- Progress-bar --- */

#circle {
    -webkit-transition: stroke-dasharray .1s ease-in, stroke .1s ease-in;
    transition: stroke-dasharray .1s ease-in, stroke .1s ease-in;
    fill: #34495E;
    stroke-width: 10;
    stroke-dasharray: 0 572;
}

#percent {
    fill: #C0392B;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 3em;
    text-anchor: middle;
    -webkit-transition: fill .1s ease-in;
    transition: fill .1s ease-in;
}

#progress-percent {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    background: #ECF0F1;
    border-radius: 50%;
    margin-bottom: 35px;
}

/* --- Loading --- */

.flowspinner {
    width: 200px;
    height: 200px;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    margin: 0 auto 35px;
}

.flowspinner:after {
    width: 180px;
    height: 180px;
    border-left: 10px solid #ECF0F1;
    border-right: 10px solid #ECF0F1;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-radius: 9999px;
    content: '';
    left: calc(50% - 100px);
    bottom: calc(50% - 100px);
    top: calc(50% - 100px);
    right: calc(50% - 100px);
    margin: auto;
    -webkit-animation: spinme 400ms linear infinite;
    animation: spinme 400ms linear infinite;
}
@-webkit-keyframes spinme {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
@keyframes spinme {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

/* -- */

.notification {
    opacity: 0;
    top: 80px;
    left: calc(50% - 98.5px);
    z-index: 10;
    padding: 19px 16px 16px;
    text-align: center;
    background-color: #2C3E50;
    border-radius: 30px;
    -webkit-transition: opacity .2s ease-in, top .2s ease-in;
    transition: opacity .2s ease-in, top .2s ease-in;
}

.nav-drop {
    margin: 0 0 16px 0;
    text-align: center;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
    .header {
        padding: 20px;
    }

    .nav-header {
        font-size: 50px;
        padding: 38px 50px;
        margin: 0;
    }

    .optimize-info {
        left: calc(50% - 124px);
        bottom: calc(50% - 325px);
    }

    .nav-icon {
        padding: 8px 10px;
    }

    .nav-drop, #file-info, #email, .nav-icon, .nav-header, .github, .type-px {
        cursor: none;
    }

    .drop-down-link {
        top: 90px;
        width: 150px;
        margin-top: 60px;
        font-size: 30px;
    }

    .nav-drop {
        margin: 0;
        padding: 42px 10px;
    }

    .notification {
        left: calc(50% - 260px) !important;
        top: 185px !important;
        padding: 25px 16px 16px 16px;
        font-size: 50px;
    }

    .toolbox-svg {
        width: 100px;
        height: 100px
    }

    #progress-percent {
        width: 500px;
        height: 500px;
        margin-bottom: 100px;
    }

    #circle {
        r: 220;
        cx: 250;
        cy: 250;
        stroke-width: 30px;
        stroke-dasharray: 0 1382;
    }

    #percent {
        -webkit-transform: translate(120px, 150px) rotateZ(90deg);
        transform: translate(120px, 150px) rotateZ(90deg);
        font-size: 120px;
    }

    .flowspinner {
        width: 500px;
        height: 500px;
        left: calc(50% - 250px);
        top: calc(50% - 325px);
        margin-bottom: 100px;
    }

    .flowspinner:after {
        width: 460px;
        height: 460px;
        top: calc(50% - 250px);
        left: calc(50% - 250px);
        right: calc(50% - 250px);
        bottom: calc(50% - 250px);
        border-left: 20px solid #ECF0F1;
        border-right: 20px solid #ECF0F1;
        border-top: 20px solid transparent;
        border-left: 20px solid transparent;
    }

    .upload-info, .download-info, .optimize-info {
        font-size: 40px;
    }

    .click-info {
        display: inline
    }

    .main {
        top: 180px;
        left: 25px;
        right: 25px;
        bottom: 140px
    }

    .arrow-box {
        width: 500px;
        left: calc(50% - 250px);
    }

    .footer {
        font-size: 35px;
        padding: 40px 25px;
    }

    .github {
        left: calc(50% - 50px);
    }

    .download-info {
        left: calc(50% - 136px);
        bottom: calc(50% - 368px);
    }
}

@media screen and (max-device-width: 1024px) {
    .click-info {
        display: inline
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 99999px) and (-webkit-min-device-pixel-ratio: 1) {
    .nav-header:hover {
        color: #BDC3C7;
    }

    .nav-icon:hover, .github:hover {
        fill: #BDC3C7;
    }

    .rotate:hover {
        stroke: #BDC3C7;
    }

    .drop-down-link:hover {
        padding-top: 15px;
        visibility: visible;
        opacity: 1;
    }

    .popup-footer {
        bottom: 0;
        left: 0;
        right: 0;
        height: 5px;
    }

    .popup-footer:hover ~ .footer, .footer:hover {
        bottom: 0 !important;
    }

    .popup-footer:hover + .arrow-box, .footer:hover + .arrow-box {
        bottom: 56px;
        opacity: 0;
    }

    .optimize-info, .download-info {
        bottom: calc(50% - 160px);
    }

    .optimize-info {
        left: calc(50% - 50px);
    }

    .download-info {
        left: calc(50% - 54px);
    }
}

.click-info {
    font-size: 40px
}

.copy-link:hover + .drop-down-link {
    padding-top: 15px;
    visibility: visible;
    opacity: 1;
}

.drop-down-link > .nav-header {
    text-align: center;
    padding: 17px 12px 0;
    margin-right: 0;
    height: 33px;
}

.copy-link:hover .drop-down-link {
    display: block;
}

.nav-drop:hover, #email:hover, #file-info:hover {
    color: #BDC3C7;
}

.nav-icon:active, .github:active {
    fill: #7F8C8D;
}

.rotate:active {
    stroke: #7F8C8D;
}

.nav-header:active, .nav-drop:active, #email:active, #file-info:active {
    color: #7F8C8D;
}

a, span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #ECF0F1;
}

a:focus, span:focus {
    outline: none;
}

span, p, .nav-header, a, .nav-drop {
    text-shadow: 0 2px 1px rgba(0,0,0,0.8);
}

img {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none
}