.picture {
    opacity: 0;
    -webkit-transition: opacity .05s, -webkit-transform .3s ease-in, -webkit-box-shadow .3s ease-in;
    transition: opacity .05s, -webkit-transform .3s ease-in, -webkit-box-shadow .3s ease-in;
    transition: opacity .05s, transform .3s ease-in, box-shadow .3s ease-in;
    transition: opacity .05s, transform .3s ease-in, box-shadow .3s ease-in, -webkit-transform .3s ease-in, -webkit-box-shadow .3s ease-in;
    -webkit-transform: perspective(600px) rotateX(3deg);
    transform: perspective(600px) rotateX(3deg);
    -webkit-box-shadow: 0 28px 56px rgba(0,0,0,0.50), 0 20px 20px rgba(0,0,0,0.44);
    box-shadow: 0 28px 56px rgba(0,0,0,0.50), 0 20px 20px rgba(0,0,0,0.44);
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%
}

a {
    display: none
}

.types {
    width: 150px;
    display: flex;
    justify-content: space-around;
}

.info {
    margin-left: 15px;
    display: flex;
    width: calc(100% - 165px);
    justify-content: space-around;
}

.type-px {
    cursor: pointer;
    transition: .2s ease-in;
}

@media screen and (max-device-width: 480px) {
    .picture {
        border-radius: 10px
    }

    .type-px {
        cursor: pointer;
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 2600px) and (-webkit-min-device-pixel-ratio: 1) {
    .type-px:hover {
        color: #BDC3C7;
    }
}

.type-px:active {
    color: #7F8C8D;
}