.bold {
    color: #BDC3C7;
    font-size: 75px;
}

.bold:active {
    color: #7F8C8D;
}

#dropZone.hover {
    background-color: #ddd;
    border: 15px dashed #aaa;
    opacity: .4
}

.footer {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

#dropZone {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

@media screen and (max-device-width: 480px) {
    .bold {
        font-size: 100px
    }

    .drag-info, #dropZone {
        display: none;
    }
}

@media screen and (max-device-width: 1024px) {
    .drag-info, #dropZone {
        display: none;
    }
}